/* You can add global styles to this file, and also import other style files */
$verde-claro: #34A835;
$verde-oscuro: #0C6B0D;


p-slider div.range-green span.ui-slider-range {
    background-color: $verde-oscuro!important;
}

body .ui-paginator .ui-paginator-pages a.ui-paginator-page.ui-state-active {
    background-color: $verde-claro!important;
    color: #ffffff;
}

body .ui-panel div.ui-panel-titlebar {
    border: 1px solid $verde-oscuro;
    padding: 0.571em 1em;
    background-color: $verde-claro!important;
    color: #fff!important;
}

.ui-dropdown {
    min-width: 50px !important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, 
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight{
    background-color: $verde-claro!important;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border-color: $verde-oscuro!important;
}