img.articleIMG{
    max-width: 35vw;
    max-height: 150px;
}

img.imgDetails{
    max-width:90%;
    max-height: 200px;
}

.articulo-price {
    color: green;
    font-size: 20pt;
    font-weight: bold;
}

.articulo-detail {
    height: 45px;
    overflow: hidden;
}