<nav class="navbar navbar-expand-md navbar-dark border border-top-0 border-right-0 border-left-0 shadow mb-4">
    <div class="container">
        <div class="mr-auto d-flex">
            <button pButton type="button" icon="pi pi-bars" class="ui-button-raised ui-button-success mr-2" (click)="mostrarMainSidebar()"></button>
            <img src="/assets/img/nodepop-logotype.png" alt="Logo" class="logotype">
        </div>
        <button pButton type="button" icon="pi pi-search" class="ui-button-raised ui-button-success mr-2" (click)="mostrarFiltrosSidebar()"></button>
        <button pButton type="button" icon="pi pi-star" class="ui-button-raised ui-button-success"></button>
    </div>
</nav>